{
  "APP_NAME": "OpenOcto",
  "APP_ID_SUFFIX": "",
  "K8S_NAMESPACE": "dev",
  "API_BASE_URL": "https://development-api.psygoai.com/assistant",
  "MATRIX_HOMESERVER": "https://development-matrix.psygoai.com",
  "CHATBOT_BASE_URL": "https://api.psygoai.com/onboarding-chatbot",
  "DICEBEAR_BASE_URL": "https://api.dicebear.com/9.x"
}
