[Desktop Entry]
Type=Application
Name=PsyGo
Comment=Your AI-powered automation assistant
Exec=psygo %u
Icon=psygo
Categories=Network;InstantMessaging;Chat;
MimeType=x-scheme-handler/psygo;
Terminal=false
StartupWMClass=psygo
