[Desktop Entry]
Version=1.0
Name=Psygo
GenericName=Psygo
Comment=Your AI coworkers. Give a git URL, get a production-ready project.
Terminal=false
Type=Application
Icon=psygo
Categories=Utility
Keywords=AI;share;files;
